{% extends 'base.html' %}

{% block cuerpo %}

		<div class="col-md-6 column">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">
						ABM de Dependencias
					</h3>
				</div>
				<div class="panel-body">
				{% if dependencia %}
					<form role="form" action="{% url 'dependencia' dependencia.id %}" method="post">{% csrf_token %}
				{% else %}
					<form role="form" action="{% url 'dependencias' %}" method="post">{% csrf_token %}
				{% endif %}
						<div>
							 <label for="id_ciudad">Ciudad </label>{{form.ciudad}}
							 <a id="agregarCiudad" href="#ciudadNueva" role="button" class="btn btn-info btn-xs" data-toggle="modal">Agregar Ciudad</a>
						</div>
						<div class="form-group">
							 <label for="id_unidades_regionales">Unidad Regional </label>{{form.unidades_regionales}}
						</div>
						
						<div class="form-group">
							 <label for="id_descripcion">Descripcion</label>{{form.descripcion}}
						</div>
						<button type="submit" class="btn btn-success btn-small pull-right">Guardar</button>	
					</form>
				</div>
				<div class="panel-footer">
					
				</div>
			</div>
		</div>
		<div class="col-md-6 column">
			<table class="table table-bordered table-hover table-condensed" id="table" name="table">
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Unidad Regional
						</th>
						<th>
							Dependencia
						</th>
						<th>
							Ciudad
						</th>
						<th>
						</th>
					</tr>
				</thead>
				<tbody>
				{% for depe in dependencias %}
					<tr>
						<td>
							{{depe.id}}
						</td>
						<td>
							{{depe.unidades_regionales}}
						</td>
						<td>
							{{depe.descripcion}}
						</td>
						<td>
							{{depe.ciudad}}
						</td>
						<td>
							<center><a href="{% url 'dependencia' depe.id %}"><i class="glyphicon glyphicon-pencil"></i></a></center>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			<div class="modal fade" id="ciudadNueva" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="modal-dialog">
									<div class="modal-content">
										<div class="modal-header">
											 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">
												Agregar Ciudad
											</h4>
										</div>
										<form role="form" action="{% url 'agregaciudad' %}" method="post">
										<div class="modal-body">
											
												<div class="form-group">
													 <label for="id_descripcion">Descripcion</label>{{ciudades.descripcion}}
													 <input type="hidden" name="formulario" id="formulario" value="dependencias">
												</div>											
										</div>
										<div class="modal-footer">
											 <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> <button type="submit" class="btn btn-success">Guardar</button>{% csrf_token %}
										</div>
										</form>
									</div>
									
								</div>
								
							</div>
		</div>
	
{% endblock %}